
problems/01_2021_critical_path/1.synctex.gz
problems/01_2021_critical_path/1.aux
problems/01_2021_critical_path/1.log
problems/01_2021_critical_path/1.tex
problems/01_2021_critical_path/scheme.png
slides/01_2021_digital circuits.pptx
Grad.xlsx
problems/01_03_2021_verilog/23.aux
problems/01_03_2021_verilog/23.log
problems/01_03_2021_verilog/23.synctex.gz
problems/01_03_2021_verilog/23.tex
slides/02_2021_verilog.pptx
slides/03_2021_pld.pptx
problems/04_7seg/4.aux
problems/04_7seg/4.log
problems/04_7seg/4.out
problems/04_7seg/4.synctex.gz
problems/04_7seg/4.tex
problems/05_06_sreg/05_06.aux
problems/05_06_sreg/05_06.log
problems/05_06_sreg/05_06.out
problems/05_06_sreg/05_06.synctex.gz
problems/05_06_sreg/05_06.tex
labs/lab1/lab1.aux
labs/lab1/lab1.log
labs/lab1/lab1.out
labs/lab1/lab1.synctex.gz
labs/lab1/lab1.tex
problems/2021_last/2021_last.tex
problems/2021_last/2021_last.synctex.gz
problems/2021_last/2021_last.out
problems/2021_last/2021_last.log
problems/2021_last/2021_last.aux
problems/2021_last/05_06.synctex.gz
problems/2021_last/05_06.pdf
problems/2021_last/05_06.out
problems/2021_last/05_06.log
problems/2021_last/05_06.aux
labs/lab2/lab2.tex
labs/lab2/lab2.synctex.gz
labs/lab2/lab2.out
labs/lab2/lab2.log
labs/lab2/lab2.aux
labs/lab2/lab1.synctex.gz
labs/lab2/lab1.pdf
labs/lab2/lab1.out
labs/lab2/lab1.log
labs/lab2/lab1.aux
