
problems/01_2021_critical_path/1.synctex.gz
problems/01_2021_critical_path/1.aux
problems/01_2021_critical_path/1.log
problems/01_2021_critical_path/1.tex
problems/01_2021_critical_path/scheme.png
slides/01_2021_digital circuits.pptx
